*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.message-section{
    background-color: rgb(89, 241, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
    height: 100vh;

}

.input-section{
    display: flex;
    align-items: center;
}
.submit{
    font-size: 1.5rem;
    cursor: pointer;
}

input{
    height: 1.5rem;
    width: 9rem;
}



.prompter-section{
    display: flex;
    background-color: blueviolet ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* transform: translateX(100%); */
    display: none;
    /* display: none; */
}

.shift{
    display: block;
    /* transform: translateX(0%); */
    display: flex;
    background-color: blueviolet ;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.prompter{
    font-size: 4rem;
}

.close{
    font-size: 2rem;
    position: absolute;
    top: 0; 
    right: 0;   
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: aliceblue;
  
}

.vanish{
    display: none;
    background-color: red;

}